
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; 
}

    .row img {
        max-width: calc(20% - 10px); 
        margin-right: 10px; 
        margin-bottom: 10px; 
    }

        .row img:last-child {
            margin-right: 0; 
        }

@media screen and (max-width: 768px) {
    .row img {
        max-width: calc(50% - 10px);
    }
}
